html {
  background-color: rgb(236, 236, 236);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
