html {
  background-color: #ececec;
}

body {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 20px;
  background-color: #737ec370;
}

.header img {
  width: 155px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info p {
  margin: 0 10px 0 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px
}

main .under-dev {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

main a {
  width: 60%;
}

.under-dev a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
  text-decoration: none;
}

.under-dev h2 {
  width: 75%;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 5px;
  background-color: #737ec3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
}

.under-dev svg {
  color: white;
}
