html {
  background-color: #ececec;
}

body {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
  background-color: #737ec3;
}

.header img {
  width: 55px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info p {
  margin: 0 10px 0 0;
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px
}

main .under-dev {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

main div {
  width: 100%;
}

h2 {
  width: 100%;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 5px;
  background-color: #737ec3;
}

main .under-dev div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 150px;
}

main .under-icon {
  width: 70px;
  height: 70px;
  margin-top: 50px;
}
